<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growth.graphh">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graphh">
            <activity
                android:name="com.growth.graphh.MainActivity"
                android:theme="@style/SplashTheme"
                android:configChanges="orientation|screenSize|uiMode"
                android:noHistory="true"
                android:windowSoftInputMode="adjustResize">
                <!--android:noHistory="true" 홈키로 나가도 다시들어가면 리셋되는듯 지금으로선 최선같음-->
                <!--android:clearTaskOnLaunch="true" 오랜시간 앱 방치후 다시 앱들어갔을때 액티비티 중복문제 해결위해 넣었는데 잘 작동하는지는 모르겠음-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--ca-app-pub-3940256099942544~3347511713 sub-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <service android:name="com.growth.graphh.FirebaseMessagingService">
            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>
        <service android:name="com.growth.graphh.FirebaseinstanceIDServices">

            <intent-filter>

                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>
